#sales_order{
  margin-top: $padding;
  
  input {
    text-align: right;
  }
  
  h3{ text-decoration: underline;}

  .name{ font-weight: bold; }

  .line_item{

    .name{
      font-family: Courier;
    }

    .amount{
      font-weight: bold;
      text-align: right;
      padding-right: $padding;
    }

    .quantity{
      width:30px;
      input{
        width: 20px;
      }
    }
  }

  .line_item.next{
    td {
      text-align: center;

      input{
        width: 200px;
        text-align:center;
      }
    }
  }

  .money{
    .amount{
      input { width: 30px; }
      text-align:center;
      width: 40px;
    }
  }

  hr{ 
    color: black;
    border: 1px solid #666;
    margin-top: 10px;
  }
  
  #sales_finished{
    td {text-align: center; }
  }
}