@import "/partials/my_app/globals";
@import "/partials/my_app/utils";

body.my_app{

  background-color: pink;
  
  #user_navigation{
    float: right;
    margin-right: $padding;
    padding:0px;
  }

  #container {
    background-color: #FFF;
    padding:0;
  } // #container

  #header {
    background-color: #DfD;
  }

  #sidebar{
    background-color: #DDF;
  }

  #content{
    background-color: #FdF;
    padding-top: $padding; 
    padding-bottom: $padding;
    text-align:left;
  }

  #footer{
    padding-top: $padding; 
    background-color: #FFd;
  }

  @import "/partials/models/all";

} // body.my_app
