.float_right= link_to 'New Product', new_product_path
%h1 Listing products

%table
  %tr
    %th Name
    %th Price
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= link_to product.name, product, :class => (product.barcode ? :barcode : :no_barcode)
      %td
        P
        = product.price
%br
= link_to 'New Product', new_product_path

