#sales_order
  %h3 Customer Order

  %table
    = render :partial => '/line_items/line_item'
    = render :partial => '/line_items/mext' # "next" is misspelled "mext" to avoid a bug.

    %tr
      %td{:colspan => 3}
        %hr

    %tr#sales_total.money
      %td.name Total
      %td
      %td.amount
        %input{ :name => 'sales_total', :value => 0}


    %tr#sales_cash_received.money
      %td.name Cash Received
      %td
      %td.amount
        %input{:type => 'text', :name => 'sales_cash_received', :value => 0}

    %tr#sales_change.money
      %td.name Change
      %td
      %td.amount
        %input{:type => 'text', :name => 'sales_change', :value => 0}
    
    %tr#sales_finished
      %td{:colspan => 3}
        %input{:type => 'submit', :value => 'Finished'}